*{
    padding:0px;
    margin: 0px;
}
.menu-bar{
    z-index: -1;
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 1px 1px 2px 2px rgba(99, 99, 99, 0.199);
    
}
.menu-bar >ul{
    display: inline-flex;
    list-style: none;
    
}
.menu-bar >ul >li{
    width: 130px;
    margin-top: 10px;
    color: black;
    
}
.menu-bar ul li a{
    color: black;
}
.menu-bar ul li a:hover{
    color: rgb(0, 0, 0);
}
.down{
    position: absolute;
    margin-top: .1em;
    margin-left: .1em;
    font-size:30px;
    
}
.down:hover{
    color: black;
}


.lastlist{
    margin-right: 400px;
}
ul>li.dropdown{
    position: absolute;
    margin-left: -12em;
    list-style: none;
}
ul>li.dropdown > a:after{
    position: relative;
    float: left;
    content: '';
    margin-left: 150px;
    margin-top: 8px;
}
ul.menu-area{
    padding: 40px 40px 0 40px;
    background-color: white;
    text-align: left;
   
    box-shadow: 0px 5px 10px rgb(172, 172, 172) ;
    z-index: 1;
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
    top:-9999px;
    list-style: none;
    left: -40px;;
}
ul li:hover ul.menu-area{
 top: 30%;   
 
}
lastlist:hover ~ .down{
    transform: rotate(180deg);

    
}

.down:hover{
    transition: 1s ;
    transform: rotate(180deg);
 
  
}


ul.menu-area ul{
    width: 20%;
    margin-bottom: 20px;
    margin-left: 20px;
    color: rgb(172, 172, 172);
    
}
ul.menu-area h5{
    font-size: 14px;
    font-weight: bolder;
    color: rgb(0, 75, 68);
    margin-bottom: 20px;
    text-transform: uppercase;
}
ul.menu-area ul li{
    list-style: none;
    
    

}
ul.menu-area ul li a:hover{
    color: rgba(0, 85, 64, 0.753);
    

}
ul.menu-area ul li a{
    font-size: 15px;
}
