.Main{
    margin-top: 60px;
    background-color: rgb(245, 245, 245);
}
.head{
    font-size: 38px;
    font-weight: 700;
    color: rgba(0, 26, 27, 0.911);
}
.text{
    font-size: 22px;
    color: rgba(0, 26, 27, 0.911);
    
}
.textBox{

    z-index: 2;
    border-right: 2px solid rgb(230, 230, 230);
}
.playstore{
    font-weight: 700;
    font-size: 23px;

    align-items: center;
    justify-content: center;
    align-self: center;
    margin: 5px;
    
}
.playstore >h6{
    font-weight: 700;
    font-size: 17px;
    color: rgba(0, 26, 27, 0.911);
}