
.NewboxStyling{
    
    position: absolute;
    background-color: rgb(255, 217, 4);
    height: 102px;
width: 7px;
margin-left: -17px;

}
.UsedboxStyling{
    
    position: absolute;
    background-color: rgb(88, 88, 88);
    height: 102px;
width: 7px;
margin-left: -17px;

}
uppic{
    width: 100%;
}
.deleteBtn{
    position: relative;
    width: 80px;
    background-color: rgb(0, 38, 43);
    color: white;
    font-size: 18px;
    border: 2px solid rgb(0, 19, 48);
}
.premium{
    position: absolute;
    background-color: rgb(255, 217, 0);
    height: 22px;
width: 65.5px;
border-radius: 2px;
margin-left: 8px;
text-align: center;
font-weight: 600;
font-size: 15px;
color: rgb(29, 29, 29);
margin-top: 8px;

}
@media only screen and (max-width: 600px) {
.uppic{
    width: 100%;
}
}